[default]
output = json
default_region = "eu-west-3" # Paris
credential_process = aws-adfs login
  --no-sspi
  --adfs-host=eadfs.agilent.com
  --role-arn=arn:aws:iam::057324062129:role/agilent-aws-dev-15-user
  --role-chaining-role-arn=arn:aws:iam::775874812736:role/agilent-aws-dev-15-user
  --stdout
adfs_config.ssl_verification = True
adfs_config.role_arn = arn:aws:iam::057324062129:role/agilent-aws-dev-15-user
adfs_config.adfs_host = eadfs.agilent.com
adfs_config.adfs_user = mvermeir@agilent.com
adfs_config.session_duration = 3600
adfs_config.provider_id = urn:amazon:webservices
adfs_config.sspi = False
adfs_config.u2f_trigger_default = True
